:root{
  --bg: #0b0c10;
  --panel: rgba(255,255,255,.04);
  --stroke: rgba(255,255,255,.10);
  --text: #b4b3ae;
  --muted: rgba(242,243,255,.72);
  --shadow: 0 20px 80px rgba(0,0,0,.55); 
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.9);
}

*{ box-sizing: border-box; }
html, body{ min-height: 100%; }
body{
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; 
  background: #000000; 
  background-size: 150px;
  color: var(--text);
}
body::before{
  content:"";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url(images/bg-4.jpg);
  background-size: 150px;
  background-repeat: repeat;

  filter: saturate(0.75) contrast(0.85) brightness(1.12);
  opacity: 0.2;
}

.bg-urban-gradient{
   background:
    radial-gradient(1100px 520px at 12% 0%, rgba(0,119,182,.18), transparent 55%),
    radial-gradient(900px 520px at 90% 10%, rgba(247,223,30,.12), transparent 60%),
    var(--bg);
}

.text-white{
  color: #f6f5ed;
}

a{
  text-decoration: none;
}

.btn-link {
    --bs-btn-font-weight: 700;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  letter-spacing: 0.1rem;
}
p{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
